#main {
    padding: 1rem;
}

.menu {
    margin-top: 1rem;
}

.button {
    margin-bottom: 2rem;
}

.box:not(:last-child) {
    margin-bottom: 0;
}

.save-recipe {
    margin-top: 1rem;
}

.delete-recipe {
    margin-top: 1rem;
    margin-left: 1rem;
    display: none;
}

.delete-recipe.visible {
    display: inline;
}

.notification {
    margin-top: -1rem;
    display: none;
}

.notification.visible {
    display: block;
}

.confirm-delete {
    margin-top: 1rem;
    margin-bottom: 0;
}